@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');

body {
    background-color: #E1CA96;
}
#title {
    font-size: 75px;
}
#section1 {
    display: grid;
    grid-template-columns: 150px 1fr;
}
#section1,img:nth-of-type(1){
    grid-column: 1;
}
#section1,h1:nth-of-type(1){
    grid-column: 2; 
}
h1 {
    color:#434A42;
    font-family: Island Moments;
    font-size: 50px;
}
h3{
    color: #434A42;
    font-family: Island Moments;
    font-size: 35px;
}
h4 {
    color: #434A42;
    font-family: Lato;
    font-size: 25px;
}
p {
    color:#626C66;
    font-family: Lato;
}
#logo {
    max-width: 100px;
    max-height: auto;
}
a {
    text-decoration: none;
    padding: 10px;
    float: right;
    font-size: 25px;
    font-family: Lato;
}
#mainpic {
    max-width: 400px;
    display: block;
    margin: auto;
}
img {
    max-width: 250px;
    max-height: auto;
}
#section2 {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 375px 250px 200px;
}
#section2,p:nth-of-type(1){
    grid-column: 2;
    padding: 15px;
    font-size: 25px;
}
#section2,img:nth-of-type(1) {
    grid-column: 1;
    padding: 15px;
}
#section2,p:nth-of-type(2){
    grid-column: 2;
    padding: 15px;
    font-size: 25px;
}
#section2,img:nth-of-type(2) {
    grid-column: 1;
    padding: 15px;
}
#section2,p:nth-of-type(3){
    grid-column: 2;
    padding: 15px;
    font-size: 25px;
}
#section2,img:nth-of-type(3) {
    grid-column: 1;
    padding: 15px;
}
#backtotop {
    background-color: #626C66;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 25px;
}
#packages_button {
    background-color: #626C66;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 25px;
}
#siteplan {
    background-color: #626C66;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 25px;
}
#sunglasses {
    background-image: url("http://127.0.0.1:5500/condor/images/Optimized-pexels-fabio-partenheimer-712395.jpg");
    height: 1500px;    
    background-repeat: none;
    background-position: center;
    background-size: cover;
    
}


#packages {
    background-color: #626C66;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 25px;
}

#p2section {
    display: grid;
    grid-template-columns: 300px 1fr 200px;
    grid-template-rows: 300px 300px 300px;
}
#p2section img:nth-of-type(1){
    grid-column: 1;
    grid-row: 1;
}
#p2section img:nth-of-type(2){
    grid-column: 1;
    grid-row: 2;
}
#p2section img:nth-of-type(3){
    grid-column: 1;
    grid-row: 3;
}
#p2section p:nth-of-type(1){
    grid-column: 2;
    grid-row: 1;
}
#p2section p:nth-of-type(2){
    grid-column: 2;
    grid-row: 2;
}
#p2section p:nth-of-type(3){
    grid-column: 2;
    grid-row: 3;
}
#p2section a:nth-of-type(1){
    grid-column: 3;
    grid-row: 1;
    text-align: center;
    margin-top: 40px;
}
#p2section a:nth-of-type(2){
    grid-column: 3;
    grid-row: 2;
    text-align: center;
    margin-top: 40px;
}
#p2section a:nth-of-type(3){
    grid-column: 3;
    grid-row: 3;
    text-align: center;
    margin-top: 40px;
}
#p3section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 30px 300px;
}
#p3section img:nth-of-type(1){
    grid-column: 1;
    grid-row: 1;
    position: relative;
    left: 150px;
}
#p3section img:nth-of-type(2){
    grid-column: 2;
    grid-row: 1;
    position: relative;
    left: 150px;
}
#p3section img:nth-of-type(3){
    grid-column: 3;
    grid-row: 1;
    position: relative;
    left: 150px;
}
#p3section p:nth-of-type(1){
    grid-column: 1;
    grid-row: 3;
}
#p3section p:nth-of-type(2){
    grid-column: 2;
    grid-row: 3;
}
#p3section p:nth-of-type(3){
    grid-column: 3;
    grid-row: 3;
}



body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }


#codeof {
    text-align: center;
}
#codeofp {
    padding-left: 550px;
    padding-right: 550px;
    text-align:center;
}
#p3why {
    text-align: center;
    font-size: 100px;
}